/*
Arquivo de estilo do projeto
*/

body{
    background: #6891b9;
    color: black;
    font-family: sans-serif, Arial, Verdana;
    display:flex; /*ativa o flexbox no body*/
    justify-content:center; /* centraliza horizontalmente*/
    align-items: center; /* centraliza vertixalmente*/
    height: 100vh; /* define a altura com 100% do viewport - view height*/
}

h2{
    text-align:center;
    color: #333333;
    margin-bottom: 24px; /*margem externa abaixo*/
}

label{
    display:block;/* mostra um em cada linha - bloco */
    margin-top: 8px;
    font-weight: bold; /*negrito*/
    font-size: 14px;
}

input{
    width: 100%; /* ocupa 100% da largura disponivel */
    padding: 8px; /*espaço interno*/
    margin-top: 4px;
    border: 1px solid #CCCCCC; /* cria borda */
    border-radius: 8px; /* arredonda os cantos */

}

button{
    width: 100%;
    background: blue;
    color: white;
    padding: 16px;
    border: none; /*nenhuma borda */
    border-radius: 8px;
    margin-top: 16px;
    font-size: 16px;
    cursor: pointer; /*cursor da mãozinha*/
}
button:hover{
    background: #085ab1;
}
/* Classes CSS (Comwçam sempre por ponto final) */
.limpar{
    background: red;
}
.limpar:hover{
    background: #d62516;
}
.formulario{
    background:white;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1); /* sombra */
    width: 320px;/* largura maxima */
}
/*parametros do box shadow:
0 - deslocamento horizontal
8 - deslocamento vertvical
24 - blur - embaçamento. Quanto >, mais suave fica
rgba - 0 a é de alpha ou transparencia. é sempre 0 a 1*/

/* Identificadores no CSS
    São unicos e formatam pelo id. Utiliza-se # */
    #resultado{
        margin-top: 24px;
        padding: 16px;
        background: white;
        border-left: 4px solid #007bff; /* borda apenas na esquerda*/
        display: none; /*oculta no inicio*/
    }